<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268014200703-uv2bvu8snm3di2jb937qj3mq56c5re8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268014200703-uv2bvu8snm3di2jb937qj3mq56c5re8n</string>
	<key>API_KEY</key>
	<string>AIzaSyB_K0YTRz_nxdCo9-y0P7OHmGzwNvWaehY</string>
	<key>GCM_SENDER_ID</key>
	<string>268014200703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesseandringa.InTouch</string>
	<key>PROJECT_ID</key>
	<string>intouch-de6c0</string>
	<key>STORAGE_BUCKET</key>
	<string>intouch-de6c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268014200703:ios:0625cf44a8ce7c299b5c4a</string>
</dict>
</plist>